body{
    margin: 0;
    padding: 0;
    font-size: Arial;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.grid-item{
    border: solid 5px #ddd;
    border-radius: 5px;
}

.grid-item{
    border: 5px solid #ddd;
}

.grid-item img{
    width: 100%;
    display: block;
    transition: 0.3s;
}

.grid-item img:hover{
    width: 105%;
    height: 105%;
    display: block;
    cursor: cell;
    transform: scale(1.05);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.large{
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 720px){
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}